{% extends 'base.html.twig'%}

{% block title 'blablabla' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.dayChoice) }}
                </div>
                <div class="col">
                    {{ form_row(form.gameChoice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-4">
        <h1>Voir toutes les annonces</h1>

        <div class="row">
            {% for game in games %}
                <div class="col-md-4">
                    {% include 'game/_game.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(games) }}
        </div>
    </div>
{%  endblock %}