{% extends 'base.html.twig'%}

{% block title game.id %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ game.id }}</h1>
        <h1>{{ game.videoGameId }}</h1>
        <h1>{{ game.creator }}</h1>
        <h1>{{ game.date|date("d/m/Y") }}</h1>
        <h1>{{ game.createdAt|date("d/m/Y") }}</h1>
    </div>
{%  endblock %}