{% extends 'base.html.twig'%}

{% block title 'Voir toutes les annonces' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Le projet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at, beatae cum dolorem ex illo nemo
            nostrum officiis unde! Assumenda delectus eaque eveniet fugit incidunt non possimus quia sequi tempora!
        </p>
    </div>

    <div class="container">
        <h2>Les dernières parties</h2>
        <div class="row flex">
            {% for game in games %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href=" {{ path('game.show', {id: game.id}) }}">{{ game.videoGameId }} {{ game.id }}</a>
                                <p class="card-text">{{ game.date|date("d/m/Y") }}</p>
                                <p class="card-text">{{ game.createdAt|date("d/m/Y") }}</p>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{%  endblock %}