<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('game.show', {id: game.id}) }}">
                {{ game.videoGameId }}
            </a>
        </h5>
        <p class="card-text">{{ game.creator|date("d/m/Y") }}</p>
        <p class="card-text">{{ game.date|date("d/m/Y") }}</p>
    </div>
</div>