{% extends 'base.html.twig'%}

{% block body %}
    <div class="container mt-4">
        <h1>Editer la game</h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
        <button class="btn btn-primary">Editer</button>
        {{ form_end(form) }}
    </div>
{%  endblock %}