{% extends 'base.html.twig'%}

{% block title 'Gérer les games' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les games</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="text-right">
            <a href="{{ path('admin.game.new') }}" class="btn btn-primary">Créer une nouvelle game</a>
        </div>
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>
                    <a href="{{ path('admin.game.edit', {id: game.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" style="display: inline-block" action="{{ path('admin.game.delete', {id: game.id}) }}"
                        onsubmit="return confirm('Etes-vous sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}