{% extends 'base.html.twig'%}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle game</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>
{%  endblock %}